.footer {
    overflow: hidden;
    background: radial-gradient(circle, rgba(31, 31, 33, 1) 0%, rgba(8, 15, 37, 1) 47%, rgba(8, 14, 31, 1) 100%);
    border-top-left-radius: 90px;
    box-shadow: -2px -2px 10px rgb(178, 178, 178);
}

.footer .logo{
    filter: invert(1);
    object-fit: cover;
    height: 10em;
    margin-top: -2em;
}

.heading:after{
    content:'';
    height: 3px;
    width: 50px;
    position: absolute;
    border-radius: 30px;
    
    transform: translateY(25px) translateX(-40px);
    background: rgb(232, 232, 232);
}

.social-icons{
    color: #1b1a1a!important;
    font-size: 2em!important;
    border-bottom: 2px;
    border-bottom: 2px solid #f1f1f1;
    border-bottom-left-radius:50px!important;
    border-bottom-right-radius:50px!important;
    border-top-right-radius:50px!important;
    background: #fff;
}